body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form input[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1D7DBE;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#response-message {
  margin-top: 10px;
  font-weight: bold;
}



@media screen and (max-width: 768px) {
  .popup {
    width: 90%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup-content {
    padding: 20px;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
  }

  form input[type="submit"] {
    width: 100%;
  }
}











/* Header Styles */
header {
  background-color: #fff;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  max-width: 1200px; /* Adjust the value based on your desired maximum width */
  margin: 0 auto; /* Center the header horizontally */
  position: relative;
  z-index: 1;
}

.logo {
  margin: 0;
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo a {
  display: inline-block;
  text-decoration: none;
}

.logo img {
  width: 200px;
  height: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #1D7DBE;
  position: relative;
  font-weight: 500;
  font-size: 20px;
}

nav ul li a:hover {
  color: #AF8B09;
  font-weight: bold;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1D7DBE;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

.cta-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #AF8B09;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button a:hover {
  background-color: #fff;
  color: #AF8B09;
  border: 2px solid #1D7DBE;
  font-weight: 600;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    margin: 0;
  }

  nav {
    margin-top: 10px;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    text-decoration: none;
    color: #AF8B09;
    position: relative;
    font-weight: 500;
    font-size: 18px;
  }

  nav ul li a:hover {
    color: #AF8B09;
    font-weight: bold;
  }

  nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1D7DBE;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  nav ul li a:hover::before {
    transform: scaleX(1);
  }

  .cta-button {
    flex: 0 0 auto;
    margin-top: 10px;
  }
}




/* Hero Styles */
#hero {
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 100px;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  /* Updated padding to include the left side */
  padding: 0 20px;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  animation: bounceInOut 0.5s ease-in-out;
  
}

.slide.active .slide-caption {
  opacity: 1;
}

.slide-1-caption {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  /* Added styles to position the caption on the left */
  left: 0;
  text-align: left;
  padding: 140px 100px;
  
}

.slide-2-caption {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 200px 0;
}

.slide-3-caption {
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  left: 0;
  padding: 50px 100px;
  text-align: left;
}

.slide-4-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 200px 0;
}

.slide-caption h1,
.slide-caption p,
.slide-caption .cta-button {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide.active .slide-caption h1,
.slide.active .slide-caption p,
.slide.active .slide-caption .cta-button {
  opacity: 1;
  transform: translateY(0);
}

.slide-caption h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
  
}

.slide-caption p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.slide-caption .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #AF8B09;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slide-caption .cta-button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

@keyframes bounceInOut {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Media Query for Hero Mobile */
@media (max-width: 768px) {
  #hero {
    height: 300px; /* Adjust the height based on your header's height */
    margin-top: 100px; /* Adjust the margin-top value to create space below the header */
  }
  
  .slide-3-caption {
    width: 100%;
    left: 0;
    padding: 0 20px;
    
  }

  .slide-1-caption{
    width: 100%;
    padding: 0 20px;
  }
  
  .slide-caption h1 {
    font-size: 24px;
  }
  
  .slide-caption p {
    font-size: 14px;
    
  }
}



/* About Section */
.about {
  padding: 50px 100px;
  background-color: #ffffff;
  text-align: center;
}



.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image img {
  display: none;
  max-width: 400px;
  height: auto;
  animation: scaleIn 1.5s ease-in-out;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.about-inscription {
  margin-top: 40px;
  padding: 50px;
  background-color: #fcf8e9;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
  animation: bounceIn 1s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inscription-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inscription-image {
  margin-right: 60px;
  animation: fadeInLeft 1.3s ease-in-out;
}

.inscription-image img {
  max-width: 300px;
  height: auto;
}

.inscription-text {
  animation: fadeInRight 1.8s ease-in-out;
}

.inscription-text h1 {
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.inscription-text h1::before {
  content: "";
  position: absolute;
  top: -20px; /* Adjust the distance of the line from the top */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #AF8B09; /* Customize the color of the line */
  transform: scaleX(0); /* Initially hide the line */
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.inscription-text h1:hover::before {
  transform: scaleX(1); /* Show the line on hover */
}



.inscription-text h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.inscription-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.inscription-text .cta-button {
  display: inline-block;
  padding: 18px 28px;
  background-color: #AF8B09;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

.inscription-text .cta-button:hover {
  background-color: #ffffff;
  color: #AF8B09;
  border: 2px solid #1D7DBE;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.additional-info {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.additional-info-item {
  text-align: center;
  position: relative;
}

.additional-info-item i {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.additional-info-item:hover {
  transform: scale();
}

.additional-info-item:hover h3::after {
  transform: scaleX(1);
}

.additional-info-item h3::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #AF8B09;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.additional-info-item i {
  font-size: 32px;
  color: #AF8B09;
  margin-bottom: 10px;
}

.additional-info-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.additional-info-item p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  color: #2b2a2a;
}



.offer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.offer h1 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 20px;
  color: #1D7DBE;
  border: 2px solid #AF8B09;
}

.offer-item {
  flex-basis: calc(25% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.offer-item:hover {
  transform: translateY(-5px);
}

.offer-item img {
  width: 200px;
  height: 150px;
  margin-bottom: 5px;
}

.offer-item h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-item h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
}

.offer-item p {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  text-align: left;
  color: #2b2a2a;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}


.features {
  background-color: #fcf8e9;
  padding: 50px 0;
  margin-top: 50px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.feature {
  text-align: center;
  margin: 0 60px;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

.feature i {
  font-size: 48px;
  color: #1D7DBE;
  margin-bottom: 20px;
  animation: wiggle-bounce 2s ease-in-out infinite; /* New animation applied to icons */
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #AF8B09;
}

.feature:hover {
  transform: translateY(-10px);
}

@keyframes wiggle-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  }

  .feature {
    margin: 10px;
    max-width: 300px;
  }

  .features {
    margin: 0;
    padding: 2px 0;
  }
}






.company-stats {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat-item {
  text-align: center;
  margin: 0 20px;
  animation: fadeIn 1s ease-in-out;
  position: relative;
}

.stat-item:hover {
  transform: translateY(-5px);
}

.stat-item::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color:#AF8B09;
  ;
  transition: width 0.3s ease-in-out;
}

.stat-item:hover::before {
  width: 100%;
}
.stat-item h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1D7DBE;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.stat-item span {
  font-size: 16px;
}


/* Line Animation */
.line-animation {
  position: relative;
  display: inline-block;
}

.line-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff5a5f;
  transition: width 0.3s ease-in-out;
}

.line-animation:hover::before {
  width: 100%;
}

.line-animation h1,
.line-animation h2 {
  display: inline-block;
  position: relative;
}

.line-animation h1::after,
.line-animation h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff5a5f;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.line-animation:hover h1::after,
.line-animation:hover h2::after {
  transform: scaleX(1);
  transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .about {
    padding: 20px 20px;
    margin: 0 20px;
  }

  .about-image img {
    display: none;
  }

  .about-inscription {
    padding: 10px;
  }

  .inscription-content {
    flex-direction: column;
  }

  .inscription-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .inscription-image img {
    max-width: 100%;
    height: 300px;
  }

  .inscription-text h1 {
    font-size: 18px;
    margin: 0;
  }

  .inscription-text h2 {
    font-size: 12px;
  }
  
  .inscription-text p {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: normal;
  }

  .additional-info-item p {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: normal;
  }

  .additional-info-item h3 {
    font-size: 16px;
    margin-top: 5px;
    
  }

  .additional-info-item i {
    margin-bottom: 5px;
  }

  .about-content {
    align-items: flex-start;
    
  }

  .additional-info {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    margin: 0 20px;
  }

  .additional-info-item {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .offer{
    margin: 0;
  }

  .offer h1 {
    padding: 10px;
    font-size: 18px;
  }
  
  .offer-item img{
    width: 100%;
    height: 200px;
  }

  .offer-item h2{
    margin-bottom: 5px;
    font-size: 16px;
    color: #074c7a;
  }

  .offer-item p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: normal;
    color: #141313;
  }

  .offer-item {
    flex-basis: 100%;
    margin: 0 ;
  }

  .company-stats {
    margin: 0; /* Adjust the margin value for spacing between items */
   width: 100%;
    
  }
  .stat-item{
    margin: 0;
  }

}

/* Footer Container */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 100px;
  background-image: linear-gradient(rgba(3, 10, 75, 0.719), rgba(0, 0, 0, 0.836));
  opacity: 0;
  transform: translateY(20px);
  animation: bounce-in 0.8s forwards;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer Logo */
.footer-logo img {
  width: 150px;
  padding: 20px;
}

/* Address Sections */
.address-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.address {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
}

.address:hover {
  transform: translateY(-3px);
}

.address h4 {
  margin-bottom: 10px;
}

/* Footer CTA Section */
.footer-cta-section {
  margin-bottom: 20px;
}

.footer-cta-section h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-cta-section p {
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-cta-button {
  display: inline-block;
  padding: 16px 30px;
  background-color: #ffffff;
  color: #1D7DBE;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
}

.footer-cta-button:hover {
  background-color: #1D7DBE;
  color: #fff;
}

/* Copyright Section */
.footer-container {
  position: relative;
}

.footer-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  transform: translateX(-50%);
}

.footer-container .copyright {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 14px;
  color: #bdbdbd;
}

@media only screen and (max-width: 767px) {
  /* Adjustments for screens up to 767px width */
  .footer-container {
    padding: 10px;
  }

  .address-sections {
    justify-content: flex-start;
  }

  .address {
    flex: 1 1 100%; /* Change the width to full width */
  }

  .footer-cta-section {
    text-align: left;
  }
}
